@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env
@model List<RecipeBook.Models.DatabaseModels.Recipe>
@{
    ViewData["Title"] = "RecipeList";
}


<div class="recipeGrid">


    @foreach (var item in Model)
    {
        <div class="recipeCard" onclick="javascript:document.location='/home/recipedetail/'+@item.Id">

            <div class="recipeCardImage">
                @{

                    var imgPhysicalPath = System.IO.Path.Combine(env.WebRootPath ?? string.Empty, "images", "recipes", item.Id.ToString() + ".jpg");
                    var imgExists = System.IO.File.Exists(imgPhysicalPath);
                }
                @if (imgExists)
                {
                    <img src="@Url.Content($"~/images/recipes/{item.Id}.jpg")" alt="Recipe image" />
                }
                else
                {
                    <img src="~/img/food.png" />
                }
            </div>

            <div class="recipeCardContent">

                <div class="recipeCardCategory">
                    <h6>@item.Category.Name</h6>
                </div>

                <div class="recipeCardName">
                    <h5>@item.Title</h5>
                </div>

                <div class="recipeCardCreator">
                    <h6>@item.CreatedAt</h6>
                </div>

            </div>

        </div>
    }

</div>




@*  <ul>
    @foreach (var recipe in Model)
    {
        <li>@recipe.Title</li>
    }
</ul>  *@
